$light: #FFFBF5;
$dark: #0D0D0D;
$primary: #F2E8C9;
$secondary: #734E40;
$main: #BF9788;
$springolino: #FFFF8A;
$theme-colors: (
    "light": $light,
    "dark": $dark,
    "primary": $primary,
    "secondary": $secondary
);
$custom-colors: (
    "main": $main,
    "springolino": $springolino
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";